In [17]:
# 그래프에서 마이너스 폰트 깨지는 문제에 대한 대처
import matplotlib as mpl
mpl.rcParams['axes.unicode_minus'] = False
import matplotlib.pyplot as plt
# 그래프에서 한글 폰트 깨지는 문제에 대한 대처(전역 글꼴 설정)
from matplotlib import font_manager, rc
font_name = font_manager.FontProperties(fname='c:/Windows/Fonts/malgun.ttf').get_name()
rc('font', family=font_name)
import pandas as pd
import numpy as np
from sklearn.decomposition import PCA
import seaborn as sns

In [18]:
path1 = 'C:/Users/sylee/Documents/GitHub/DataSafe/DataSafe/92dataset.csv'
df = pd.read_csv(path1)
df.head(3)

,광역시도,시군구명,기타관광,레저스포츠,문화관광,쇼핑,자연관광,역사.체험관광,총 관광지 수,도시비율,...,음식,학문/교육,계절성,요일성,성별 편향,30대 이하,30 - 50대,50대 이상,소계(남녀합계)/sum/mean,소멸지수
0,강원도,강릉시,28.083333,56.750000,79.583333,24.083333,69.666667,53.083333,311.250000,0.993728,...,1.9,1.4,-4.765,-0.06,13.51,253.45,260.93,337.66,1292.13,1.046
1,강원도,고성군,18.833333,35.416667,27.833333,7.583333,51.583333,18.083333,159.333333,0.999529,...,0.3,0.1,7.355,-0.08,36.41,245.63,276.25,363.99,1339.71,0.468
2,강원도,동해시,16.000000,11.583333,20.666667,13.000000,24.000000,9.666667,94.916667,0.909972,...,0.7,0.4,-12.665,-0.03,15.88,187.19,190.97,250.96,955.67,0.862

In [3]:
path2 = 'C:/Users/sylee/Documents/GitHub/DataSafe/DataSafe/kangwon.csv'
df2 = pd.read_csv(path2)
df2.head(3)

,광역시도,시군구명,기타관광,레저스포츠,문화관광,쇼핑,자연관광,역사.체험관광,총 관광지 수,도시비율,...,요일성,성별 편향,30대 이하,30 - 50대,50대 이상,소계(남녀합계)/sum/mean,소멸지수,pca1,pca2,cluster
0,강원도,강릉시,28.083333,56.750000,79.583333,24.083333,69.666667,53.083333,311.250000,0.993728,...,-0.06,13.51,253.45,260.93,337.66,1292.13,1.046,-0.850741,1.259255,5
1,강원도,고성군,18.833333,35.416667,27.833333,7.583333,51.583333,18.083333,159.333333,0.999529,...,-0.08,36.41,245.63,276.25,363.99,1339.71,0.468,-1.490733,0.283758,1
2,강원도,동해시,16.000000,11.583333,20.666667,13.000000,24.000000,9.666667,94.916667,0.909972,...,-0.03,15.88,187.19,190.97,250.96,955.67,0.862,-0.822217,-0.225585,1

In [4]:
df2['cluster'].unique()

array([5, 1, 4, 2, 3, 0, 6], dtype=int64)

In [5]:
path3 = 'C:/Users/sylee/Documents/GitHub/DataSafe/DataSafe/92dataset2.csv'
df3 = pd.read_csv(path3)
df3.head(3)

,광역시도,시군구명,기타관광,레저스포츠,문화관광,쇼핑,자연관광,역사.체험관광,총 관광지 수,도시비율,...,음식,학문/교육,계절성,요일성,성별 편향,30대 이하,30 - 50대,50대 이상,소계(남녀합계)/sum/mean,소멸지수
0,강원도,강릉시,28.083333,56.750000,79.583333,24.083333,69.666667,53.083333,311.250000,0.993728,...,1.9,1.4,-4.765,-0.06,13.51,253.45,260.93,337.66,1292.13,1.046
1,강원도,고성군,18.833333,35.416667,27.833333,7.583333,51.583333,18.083333,159.333333,0.999529,...,0.3,0.1,7.355,-0.08,36.41,245.63,276.25,363.99,1339.71,0.468
2,강원도,동해시,16.000000,11.583333,20.666667,13.000000,24.000000,9.666667,94.916667,0.909972,...,0.7,0.4,-12.665,-0.03,15.88,187.19,190.97,250.96,955.67,0.862

In [6]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 92 entries, 0 to 91
Data columns (total 35 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   광역시도               92 non-null     object
 1   시군구명               92 non-null     object
 2   기타관광               92 non-null     float64
 3   레저스포츠              92 non-null     float64
 4   문화관광               92 non-null     float64
 5   쇼핑                 92 non-null     float64
 6   자연관광               92 non-null     float64
 7   역사.체험관광            92 non-null     float64
 8   총 관광지 수            92 non-null     float64
 9   도시비율               92 non-null     float64
 10  임야면적 비율            92 non-null     float64
 11  농업용지 비율            92 non-null     float64
 12  해면비율               92 non-null     float64
 13  육지 도시화 정도          92 non-null     float64
 14  해면 도시화 정도          92 non-null     float64
 15  도시지역 인구 (명)        92 non-null     float64
 16  1인당 주거지역 (㎡)       92 non-null     float64
 17  1인당 상업지역 (㎡)       92 non-null     float64
 18  1인당 공업지역 (㎡)       92 non-null     float64
 19  지역총면적(㎡)           92 non-null     float64
 20  관광/여가/오락           92 non-null     float64
 21  생활서비스              92 non-null     float64
 22  소매                 92 non-null     float64
 23  숙박                 92 non-null     float64
 24  스포츠                92 non-null     float64
 25  음식                 92 non-null     float64
 26  학문/교육              92 non-null     float64
 27  계절성                92 non-null     float64
 28  요일성                92 non-null     float64
 29  성별 편향              92 non-null     float64
 30  30대 이하             92 non-null     float64
 31  30 - 50대           92 non-null     float64
 32  50대 이상             92 non-null     float64
 33  소계(남녀합계)/sum/mean  92 non-null     float64
 34  소멸지수               92 non-null     float64
dtypes: float64(33), object(2)
memory usage: 25.3+ KB

In [7]:
path4 = 'C:/Users/sylee/Documents/GitHub/DataSafe/DataSafe/1113test.csv'
df4 = pd.read_csv(path4)
df4.head(3)

,광역시도,시군구명,기타관광,레저스포츠,문화관광,쇼핑,자연관광,역사.체험관광,총 관광지 수,도시비율,...,요일성,성별 편향,30대 이하,30 - 50대,50대 이상,소계(남녀합계)/sum/mean,소멸지수,pca1,pca2,cluster
0,강원도,강릉시,28.083333,56.750000,79.583333,24.083333,69.666667,53.083333,311.250000,0.993728,...,-0.06,13.51,253.45,260.93,337.66,1292.13,1.046,-0.850741,1.259255,5
1,강원도,고성군,18.833333,35.416667,27.833333,7.583333,51.583333,18.083333,159.333333,0.999529,...,-0.08,36.41,245.63,276.25,363.99,1339.71,0.468,-1.490733,0.283758,1
2,강원도,동해시,16.000000,11.583333,20.666667,13.000000,24.000000,9.666667,94.916667,0.909972,...,-0.03,15.88,187.19,190.97,250.96,955.67,0.862,-0.822217,-0.225585,1

In [8]:
df4.loc[df4['cluster']== 0]

,광역시도,시군구명,기타관광,레저스포츠,문화관광,쇼핑,자연관광,역사.체험관광,총 관광지 수,도시비율,...,요일성,성별 편향,30대 이하,30 - 50대,50대 이상,소계(남녀합계)/sum/mean,소멸지수,pca1,pca2,cluster
25,대구광역시,달성군,10.083333,31.083333,53.000000,5.916667,18.583333,53.333333,172.000000,1.000000,...,19.97,34.41,515.53,691.77,619.90,8434.55,1.297,-0.023988,0.349125,0
26,대구광역시,동구,15.500000,17.500000,52.750000,19.166667,10.500000,60.750000,176.166667,1.000000,...,-0.09,-5.82,246.84,314.99,379.98,4561.36,1.164,0.063606,0.250863,0
36,부산광역시,강서구,18.833333,34.750000,53.666667,8.416667,19.083333,16.750000,151.500000,0.672179,...,49.46,111.98,370.21,745.99,542.14,7456.98,1.536,-0.213730,0.122440,0
38,부산광역시,기장군,9.750000,33.583333,76.750000,18.916667,37.416667,55.250000,231.666667,0.985382,...,-28.31,12.71,661.96,886.18,813.84,11000.31,1.005,-0.042105,0.426353,0
74,서울특별시,종로구,24.083333,14.833333,357.250000,27.916667,4.500000,77.833333,506.416667,1.000000,...,24.44,2.63,165.22,284.72,302.31,3718.24,1.208,0.138793,0.373226,0
79,울산광역시,북구,4.750000,15.333333,37.166667,11.750000,19.750000,27.333333,116.083333,1.000000,...,25.47,59.31,563.99,715.02,612.25,8573.79,1.022,-0.089204,0.126639,0
91,인천광역시,중구,33.833333,54.500000,91.250000,30.666667,48.083333,20.333333,278.666667,1.000000,...,-3.99,51.18,218.68,392.73,353.90,4548.94,1.596,-0.281758,0.383928,0

In [9]:
df4.loc[df4['cluster']== 1]

,광역시도,시군구명,기타관광,레저스포츠,문화관광,쇼핑,자연관광,역사.체험관광,총 관광지 수,도시비율,...,요일성,성별 편향,30대 이하,30 - 50대,50대 이상,소계(남녀합계)/sum/mean,소멸지수,pca1,pca2,cluster
1,강원도,고성군,18.833333,35.416667,27.833333,7.583333,51.583333,18.083333,159.333333,0.999529,...,-0.08,36.41,245.63,276.25,363.99,1339.71,0.468,-1.490733,0.283758,1
2,강원도,동해시,16.000000,11.583333,20.666667,13.000000,24.000000,9.666667,94.916667,0.909972,...,-0.03,15.88,187.19,190.97,250.96,955.67,0.862,-0.822217,-0.225585,1
3,강원도,삼척시,27.000000,17.000000,26.916667,8.416667,58.166667,23.083333,160.583333,1.000000,...,-0.01,22.84,164.70,181.63,265.87,928.88,0.697,-1.532495,0.364764,1
4,강원도,속초시,25.333333,22.166667,43.666667,12.916667,24.083333,16.333333,144.500000,0.954525,...,-0.44,7.13,262.22,265.45,322.82,1284.43,0.897,-0.821953,0.041030,1
5,강원도,양구군,8.750000,7.833333,24.916667,2.000000,9.666667,10.250000,63.416667,1.000000,...,0.00,33.37,194.68,193.44,309.80,1055.93,0.640,-1.231900,-0.253014,1
6,강원도,양양군,12.000000,78.250000,22.166667,2.333333,50.666667,35.166667,200.583333,0.999561,...,-0.12,22.45,278.69,315.54,410.72,1519.51,0.741,-1.507767,0.538578,1
7,강원도,영월군,21.166667,20.083333,41.666667,6.500000,16.000000,33.333333,138.750000,1.000000,...,0.00,28.39,163.01,188.87,328.59,1029.22,0.716,-1.375122,0.135645,1
9,강원도,인제군,14.666667,18.916667,24.750000,4.166667,35.083333,13.666667,111.250000,1.000000,...,-0.05,46.72,289.37,321.06,427.78,1567.16,0.724,-1.413791,0.237905,1
10,강원도,정선군,30.000000,17.583333,36.333333,6.833333,22.583333,16.416667,129.750000,1.000000,...,-0.02,23.38,150.46,167.41,278.04,903.88,0.606,-1.590149,0.160417,1
11,강원도,철원군,16.333333,15.666667,23.750000,4.500000,20.000000,16.083333,96.333333,1.000000,...,-0.01,31.91,196.62,191.90,291.36,1031.81,0.832,-1.259618,0.007623,1
13,강원도,태백시,14.750000,6.416667,16.916667,4.000000,9.333333,10.666667,62.083333,1.000000,...,0.04,15.23,118.89,126.92,196.88,672.49,0.719,-1.237265,-0.300313,1
14,강원도,평창군,25.916667,36.333333,48.000000,6.333333,25.166667,34.500000,176.250000,1.000000,...,-0.08,34.21,360.20,398.51,562.10,1993.87,0.628,-1.522652,0.551044,1
15,강원도,홍천군,9.833333,27.916667,43.083333,4.916667,38.666667,36.166667,160.583333,1.000000,...,-0.04,41.03,302.62,356.31,501.31,1750.02,0.932,-1.309865,0.470150,1
16,강원도,화천군,15.583333,10.083333,26.583333,3.333333,13.666667,10.250000,79.500000,1.000000,...,0.00,45.52,211.81,225.75,344.59,1187.52,0.558,-1.372739,-0.091272,1
17,강원도,횡성군,12.833333,27.166667,20.583333,3.166667,21.250000,19.750000,104.750000,1.000000,...,-0.03,33.84,266.70,312.38,487.78,1611.00,0.798,-1.257152,0.133006,1
82,인천광역시,강화군,41.833333,52.583333,42.250000,16.500000,59.083333,83.166667,295.416667,1.000000,...,-14.38,-1.12,60.04,75.72,168.54,1532.71,0.749,-1.306065,0.609992,1
90,인천광역시,옹진군,22.500000,15.583333,5.416667,2.000000,45.083333,4.750000,95.333333,1.000000,...,-6.28,9.73,24.18,38.62,62.74,615.39,0.161,-1.341920,-0.222209,1

In [10]:
df4.loc[df4['cluster']== 2]

,광역시도,시군구명,기타관광,레저스포츠,문화관광,쇼핑,자연관광,역사.체험관광,총 관광지 수,도시비율,...,요일성,성별 편향,30대 이하,30 - 50대,50대 이상,소계(남녀합계)/sum/mean,소멸지수,pca1,pca2,cluster
19,광주광역시,남구,6.333333,11.333333,32.666667,2.166667,5.416667,14.916667,72.833333,1.000000,...,7.58,-16.00,275.50,267.38,294.29,4022.63,1.054,0.037009,-0.342257,2
20,광주광역시,동구,6.500000,6.833333,46.833333,11.333333,2.250000,16.583333,90.333333,1.000000,...,9.20,-7.98,220.75,227.17,259.20,3500.88,1.232,-0.180022,-0.381862,2
23,대구광역시,남구,3.166667,6.416667,36.083333,11.833333,0.000000,18.166667,75.666667,1.000000,...,8.62,-15.15,167.92,209.65,306.01,3413.37,1.025,0.020200,-0.652315,2
28,대구광역시,서구,2.000000,4.416667,20.166667,18.000000,0.000000,3.250000,47.833333,1.000000,...,9.35,5.04,175.12,250.25,404.16,4085.12,0.926,0.125556,-0.651135,2
30,대구광역시,중구,4.666667,3.583333,51.916667,29.250000,0.000000,12.250000,101.666667,1.000000,...,8.06,-24.82,296.51,384.63,440.24,5576.20,1.044,0.261845,-0.496652,2
31,대전광역시,대덕구,6.833333,13.250000,29.583333,18.166667,4.666667,11.333333,83.833333,1.000000,...,16.50,40.32,325.72,444.78,534.05,6282.66,1.262,0.145885,-0.197090,2
32,대전광역시,동구,12.583333,12.416667,36.083333,13.333333,6.166667,17.416667,98.000000,1.000000,...,2.31,0.25,362.01,358.26,457.02,5727.80,0.975,-0.036878,-0.118060,2
35,대전광역시,중구,6.083333,10.166667,47.250000,18.916667,2.916667,23.916667,109.250000,1.000000,...,3.76,-14.85,291.03,312.05,388.15,4871.11,1.008,0.104236,-0.135533,2
37,부산광역시,금정구,1.833333,17.416667,25.833333,11.916667,7.166667,40.333333,104.500000,1.000000,...,6.81,-9.21,241.54,251.91,352.89,4155.10,0.998,0.041010,-0.224347,2
39,부산광역시,남구,10.583333,7.333333,42.333333,13.666667,15.333333,12.250000,101.500000,0.669642,...,10.48,-5.33,277.61,266.46,342.87,4330.62,0.990,0.088647,-0.491106,2
41,부산광역시,동래구,3.333333,9.833333,26.166667,16.500000,0.250000,27.083333,83.166667,1.000000,...,7.62,-25.13,388.69,422.98,498.15,6292.53,1.063,0.369662,-0.300112,2
43,부산광역시,북구,4.250000,9.666667,23.250000,9.666667,2.000000,13.916667,62.750000,1.000000,...,1.77,-21.32,308.50,350.25,468.14,5424.13,0.963,0.130720,-0.369839,2
44,부산광역시,사상구,4.416667,12.916667,19.083333,16.416667,1.500000,11.833333,66.166667,1.000000,...,24.17,21.52,254.82,372.46,496.67,5446.92,1.120,0.190163,-0.352554,2
45,부산광역시,사하구,7.750000,14.333333,32.500000,20.083333,14.666667,12.000000,101.333333,0.491695,...,12.43,-1.92,273.84,326.90,436.54,4994.71,0.942,0.241214,-0.339253,2
47,부산광역시,수영구,3.833333,9.416667,32.833333,16.750000,1.250000,14.333333,78.416667,0.784990,...,-6.51,-25.93,266.02,369.60,403.28,5130.26,0.925,0.145516,-0.591395,2
48,부산광역시,연제구,0.416667,7.500000,11.583333,8.750000,0.000000,12.333333,40.583333,1.000000,...,14.05,-18.23,262.38,351.68,417.87,4988.11,1.162,0.160131,-0.615693,2
54,서울특별시,강북구,4.916667,14.583333,36.500000,21.083333,2.916667,17.750000,97.750000,1.000000,...,1.49,-17.72,215.82,251.85,365.06,4115.29,0.992,0.141505,-0.349457,2
59,서울특별시,금천구,1.166667,9.583333,39.666667,16.750000,2.916667,6.333333,76.416667,1.000000,...,30.16,20.56,255.26,472.51,478.44,5869.04,1.808,0.411869,-0.365407,2
61,서울특별시,도봉구,1.250000,13.750000,48.750000,11.083333,2.250000,19.083333,96.166667,1.000000,...,0.91,-16.47,211.31,237.52,359.75,3985.23,1.068,0.165245,-0.422580,2
63,서울특별시,동작구,1.166667,6.916667,47.250000,13.583333,1.916667,17.083333,87.916667,1.000000,...,11.74,-7.69,299.11,400.81,413.24,5483.71,0.959,0.413974,-0.409650,2
65,서울특별시,서대문구,1.833333,14.250000,71.000000,11.166667,2.083333,17.083333,117.416667,1.000000,...,15.53,-17.80,277.87,332.23,373.56,4821.77,1.120,0.294105,-0.371444,2
67,서울특별시,성동구,1.000000,17.583333,73.000000,26.416667,1.083333,9.750000,128.833333,1.000000,...,21.60,3.12,220.27,355.24,329.76,4364.44,1.222,0.451504,-0.386101,2
72,서울특별시,용산구,6.916667,18.166667,109.250000,15.416667,2.000000,9.500000,161.250000,1.000000,...,10.59,10.23,187.83,353.38,318.76,4159.83,1.174,0.273740,-0.340376,2
76,서울특별시,중랑구,2.916667,13.000000,46.083333,14.416667,1.666667,11.500000,89.583333,1.000000,...,4.10,-11.89,254.38,342.30,429.52,4976.57,1.133,0.473329,-0.329570,2
78,울산광역시,동구,5.333333,4.166667,23.250000,10.833333,15.000000,8.916667,67.500000,0.998712,...,18.19,38.96,287.75,388.13,368.91,4810.21,0.537,-0.203910,-0.469383,2
81,울산광역시,중구,2.166667,7.750000,47.833333,18.583333,1.500000,20.416667,98.250000,1.000000,...,2.95,-8.68,257.01,282.04,355.05,4263.74,0.977,0.094109,-0.382341,2
83,인천광역시,계양구,7.416667,20.333333,53.083333,7.083333,5.666667,14.333333,107.916667,1.000000,...,2.91,8.59,271.22,347.85,441.67,5059.70,1.235,0.256492,-0.117587,2

In [11]:
df4.loc[df4['cluster']== 3]

,광역시도,시군구명,기타관광,레저스포츠,문화관광,쇼핑,자연관광,역사.체험관광,총 관광지 수,도시비율,...,요일성,성별 편향,30대 이하,30 - 50대,50대 이상,소계(남녀합계)/sum/mean,소멸지수,pca1,pca2,cluster
22,광주광역시,서구,3.750000,19.833333,47.333333,16.666667,3.250000,12.916667,103.750000,1.000000,...,8.53,-1.12,370.46,459.50,461.47,6275.98,1.094,0.467606,-0.058387,3
27,대구광역시,북구,3.333333,26.166667,71.500000,38.083333,9.166667,16.750000,165.000000,1.000000,...,9.92,0.54,355.63,367.03,446.47,5623.86,1.238,0.555170,0.188980,3
29,대구광역시,수성구,3.000000,26.000000,68.416667,18.500000,6.416667,28.083333,150.416667,1.000000,...,4.31,-15.41,347.88,323.91,402.72,5185.77,1.036,0.462950,0.082340,3
42,부산광역시,부산진구,4.416667,13.000000,37.833333,25.500000,3.166667,27.916667,111.833333,1.000000,...,8.78,-21.34,313.68,409.49,455.41,5801.39,0.971,0.571957,0.009045,3
51,부산광역시,해운대구,13.416667,41.750000,74.333333,24.833333,12.500000,35.500000,202.333333,0.983375,...,-6.19,-24.36,391.13,468.08,507.88,6557.39,1.142,0.509637,0.437144,3
53,서울특별시,강동구,2.000000,25.333333,74.916667,18.083333,0.416667,14.000000,134.750000,1.000000,...,6.82,-3.36,278.35,363.19,393.76,4939.21,1.184,0.648207,-0.092653,3
56,서울특별시,관악구,1.250000,20.583333,50.333333,23.666667,6.416667,24.166667,126.416667,1.000000,...,4.77,-1.13,223.47,340.66,328.79,4501.90,1.144,0.458085,-0.050979,3
57,서울특별시,광진구,6.583333,22.666667,62.666667,20.500000,4.000000,8.583333,125.000000,1.000000,...,10.39,-4.70,271.95,359.19,357.18,4820.60,1.153,0.558159,-0.156985,3
58,서울특별시,구로구,1.250000,12.083333,46.000000,16.000000,2.000000,10.666667,88.000000,1.000000,...,27.14,-1.10,318.98,497.56,506.70,6394.44,1.409,0.617659,-0.208566,3
60,서울특별시,노원구,8.500000,28.583333,87.666667,15.083333,5.833333,28.416667,174.083333,1.000000,...,5.49,-21.79,366.74,335.48,446.48,5559.73,1.112,0.503580,0.045229,3
62,서울특별시,동대문구,3.750000,22.750000,38.250000,29.000000,2.083333,10.333333,106.166667,1.000000,...,17.98,-5.65,287.26,365.77,448.94,5424.31,1.133,0.524376,-0.263512,3
64,서울특별시,마포구,7.583333,51.250000,160.583333,15.250000,2.750000,16.583333,254.000000,1.000000,...,10.98,-5.11,326.78,480.61,389.10,5806.72,1.534,0.718097,0.188970,3
68,서울특별시,성북구,2.166667,11.750000,57.500000,14.250000,2.250000,52.083333,140.000000,1.000000,...,8.80,-14.68,278.26,293.85,338.67,4413.74,1.044,0.384672,-0.180701,3
70,서울특별시,양천구,0.083333,27.333333,57.166667,16.333333,0.500000,7.583333,109.000000,1.000000,...,5.74,-10.69,347.36,359.55,408.02,5352.13,1.189,0.647644,-0.234951,3
71,서울특별시,영등포구,15.500000,34.833333,86.666667,27.750000,3.000000,5.166667,172.916667,1.000000,...,30.81,14.14,312.34,601.62,515.11,6886.59,1.488,0.726865,0.099876,3
73,서울특별시,은평구,4.166667,18.166667,39.583333,15.666667,3.416667,24.500000,105.500000,1.000000,...,3.21,-23.95,292.43,352.30,430.46,5228.91,1.120,0.427086,-0.146885,3
75,서울특별시,중구,6.083333,7.000000,119.916667,59.750000,1.000000,21.250000,215.000000,1.000000,...,43.62,12.81,144.18,352.15,316.27,3950.35,1.487,0.388552,-0.113336,3
77,울산광역시,남구,15.250000,19.583333,77.083333,22.666667,20.333333,11.250000,166.166667,1.000000,...,20.48,26.96,408.56,515.60,539.98,6922.85,1.132,0.541720,0.346799,3
86,인천광역시,미추홀구,2.250000,17.250000,62.166667,26.250000,4.833333,14.916667,127.666667,1.000000,...,6.23,4.12,238.56,297.40,324.44,4121.14,1.139,0.599719,-0.145084,3
87,인천광역시,부평구,1.666667,17.583333,55.166667,22.083333,0.333333,13.166667,110.000000,1.000000,...,4.50,-0.50,262.09,342.59,384.32,4717.64,1.132,0.743819,-0.000294,3
89,인천광역시,연수구,7.083333,46.166667,117.083333,18.916667,6.833333,17.916667,214.000000,0.901417,...,10.48,12.79,442.52,501.54,419.18,6291.41,1.501,0.592258,0.130615,3

In [13]:
df4.loc[df4['cluster']== 4]

,광역시도,시군구명,기타관광,레저스포츠,문화관광,쇼핑,자연관광,역사.체험관광,총 관광지 수,도시비율,...,요일성,성별 편향,30대 이하,30 - 50대,50대 이상,소계(남녀합계)/sum/mean,소멸지수,pca1,pca2,cluster
18,광주광역시,광산구,6.000000,31.750000,62.000000,12.500000,11.000000,21.250000,144.500000,1.00000,...,17.38,23.94,544.93,571.93,461.15,7387.12,1.239,0.603846,0.507659,4
21,광주광역시,북구,3.583333,19.083333,72.166667,17.250000,7.500000,18.083333,137.666667,1.00000,...,10.50,-2.53,372.87,414.27,441.22,5928.68,1.178,0.733440,0.349417,4
24,대구광역시,달서구,0.083333,23.916667,72.583333,28.416667,4.750000,19.166667,148.916667,1.00000,...,15.21,-8.49,467.90,480.84,573.65,7294.38,1.258,1.032285,0.381371,4
33,대전광역시,서구,7.000000,33.666667,65.250000,19.833333,8.250000,21.250000,155.250000,1.00000,...,12.33,-11.91,482.61,549.71,510.63,7409.21,1.233,0.780386,0.581718,4
34,대전광역시,유성구,12.166667,30.083333,92.416667,19.083333,6.833333,23.416667,184.000000,1.00000,...,40.80,61.22,859.05,1100.00,851.64,13201.45,1.292,0.752941,0.694751,4
52,서울특별시,강남구,4.083333,86.583333,252.833333,24.833333,0.000000,20.083333,388.416667,1.00000,...,65.72,12.77,419.00,704.14,549.62,8018.33,1.765,1.713808,1.305964,4
55,서울특별시,강서구,5.416667,41.916667,107.666667,16.500000,0.666667,18.500000,190.666667,1.00000,...,22.26,-2.50,350.40,574.08,522.01,6924.88,1.128,0.944229,0.282407,4
66,서울특별시,서초구,7.416667,58.250000,144.916667,19.333333,8.666667,35.500000,274.083333,1.00000,...,45.48,10.19,401.69,622.01,554.87,7605.82,1.687,0.941967,0.712249,4
69,서울특별시,송파구,6.583333,58.500000,137.000000,39.333333,2.166667,20.916667,264.500000,1.00000,...,14.23,-2.93,337.98,467.43,433.12,5880.27,1.328,1.193764,0.549575,4
84,인천광역시,남동구,0.500000,37.750000,88.500000,31.333333,9.666667,18.416667,186.166667,0.82952,...,11.22,8.57,349.17,454.07,490.37,6146.59,1.398,0.915128,0.308968,4
88,인천광역시,서구,13.333333,63.916667,125.250000,21.083333,11.500000,13.250000,248.333333,1.00000,...,18.40,31.00,340.56,444.66,413.99,5558.38,1.311,0.757691,0.649450,4

In [15]:
df4.loc[df4['cluster']== 5]

,광역시도,시군구명,기타관광,레저스포츠,문화관광,쇼핑,자연관광,역사.체험관광,총 관광지 수,도시비율,...,요일성,성별 편향,30대 이하,30 - 50대,50대 이상,소계(남녀합계)/sum/mean,소멸지수,pca1,pca2,cluster
0,강원도,강릉시,28.083333,56.750000,79.583333,24.083333,69.666667,53.083333,311.250000,0.993728,...,-0.06,13.51,253.45,260.93,337.66,1292.13,1.046,-0.850741,1.259255,5
8,강원도,원주시,21.833333,56.083333,82.916667,17.500000,31.666667,60.916667,270.916667,1.000000,...,0.05,15.62,347.92,356.26,418.67,1695.27,1.187,-0.287345,1.180015,5
12,강원도,춘천시,27.750000,83.000000,82.166667,20.916667,36.750000,48.083333,298.666667,1.000000,...,0.04,13.35,298.40,300.78,357.53,1446.51,1.115,-0.494803,1.115467,5
80,울산광역시,울주군,19.333333,29.583333,53.166667,10.166667,59.833333,95.833333,267.916667,0.903344,...,6.85,56.98,296.55,410.06,496.38,5683.99,1.123,-0.654908,0.713175,5

In [16]:
df4.loc[df4['cluster']== 6]

,광역시도,시군구명,기타관광,레저스포츠,문화관광,쇼핑,자연관광,역사.체험관광,총 관광지 수,도시비율,...,요일성,성별 편향,30대 이하,30 - 50대,50대 이상,소계(남녀합계)/sum/mean,소멸지수,pca1,pca2,cluster
40,부산광역시,동구,9.333333,1.583333,19.583333,9.000000,4.416667,15.833333,59.750000,0.847901,...,10.03,-3.37,102.81,177.54,239.01,2566.00,1.017,-0.276058,-0.770955,6
46,부산광역시,서구,5.250000,3.583333,19.166667,8.833333,5.916667,13.083333,55.833333,0.489766,...,6.70,-9.06,107.39,129.52,206.98,2211.15,0.636,-0.380748,-1.010316,6
49,부산광역시,영도구,14.833333,6.000000,22.500000,4.083333,8.833333,15.166667,71.416667,0.267528,...,3.50,-2.00,126.68,149.73,261.79,2677.34,0.549,-0.433731,-1.037294,6
50,부산광역시,중구,2.500000,3.416667,26.000000,18.083333,3.250000,4.000000,57.250000,0.752887,...,-0.36,-5.33,93.53,155.68,219.03,2363.09,1.374,-0.211728,-0.907497,6
85,인천광역시,동구,0.416667,3.833333,14.583333,5.583333,2.000000,1.750000,28.166667,0.956191,...,6.20,7.89,58.84,79.02,110.33,1196.67,1.136,-0.202311,-1.013038,6

## 한번 끊고 다시 확인(발표 자료에 들어간 데이터셋)

In [19]:
df4.loc[df4['cluster']== 6]

,광역시도,시군구명,기타관광,레저스포츠,문화관광,쇼핑,자연관광,역사.체험관광,총 관광지 수,도시비율,...,요일성,성별 편향,30대 이하,30 - 50대,50대 이상,소계(남녀합계)/sum/mean,소멸지수,pca1,pca2,cluster
40,부산광역시,동구,9.333333,1.583333,19.583333,9.000000,4.416667,15.833333,59.750000,0.847901,...,10.03,-3.37,102.81,177.54,239.01,2566.00,1.017,-0.276058,-0.770955,6
46,부산광역시,서구,5.250000,3.583333,19.166667,8.833333,5.916667,13.083333,55.833333,0.489766,...,6.70,-9.06,107.39,129.52,206.98,2211.15,0.636,-0.380748,-1.010316,6
49,부산광역시,영도구,14.833333,6.000000,22.500000,4.083333,8.833333,15.166667,71.416667,0.267528,...,3.50,-2.00,126.68,149.73,261.79,2677.34,0.549,-0.433731,-1.037294,6
50,부산광역시,중구,2.500000,3.416667,26.000000,18.083333,3.250000,4.000000,57.250000,0.752887,...,-0.36,-5.33,93.53,155.68,219.03,2363.09,1.374,-0.211728,-0.907497,6
85,인천광역시,동구,0.416667,3.833333,14.583333,5.583333,2.000000,1.750000,28.166667,0.956191,...,6.20,7.89,58.84,79.02,110.33,1196.67,1.136,-0.202311,-1.013038,6

In [20]:
df['cluster'].unique()

KeyError: 'cluster'